.page__wrapper {
    display: flex;
    justify-content: center;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page:hover{
    background: lightgray;
}

.gap{
    gap: 10px;
}