@import './fonts/fonts.scss';

*{
  font-family: Proxima Nova Regular;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}


html,
body {
  overflow-x:hidden;
  width: 100vw;
  min-height: 100vh;
  max-width: 100%;
  background: white;
}


body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 20px;
}




.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1136px;
  padding: 0 15px;
}
@media screen and (max-width: 1134px){
  .container {
    max-width: 100vw;
  }
}




.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursorPointer{
  cursor: pointer;
}

.flexRowWrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.flexRow{
  display: flex;
  flex-direction: row;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.padding0{
  padding: 0;
}

.gap10{
 gap: 10px;
}

.marginTop{
  margin-top: 24px;
}

.marginTopBottom{
  margin: 24px auto;
}

.marginBottom{
  margin-bottom: 24px;
}

.marginLeft{
  margin-left: 30px;
}

.marginRight{
  margin-right: 30px;
}

.marginLR{
  margin: 0 15px 0 15px;
}


.opacityZero{
  opacity: 0!important;
}
.opacityHalf{
  opacity: 0.5;
}

.heightFitContent{
  height: fit-content!important;
}

a {
  font-size: 14px;
  color: inherit;
  text-decoration: none;
}
a:hover {
  transform: scale(1.1);
}

.bold{
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

ul {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

.title3{
  line-height: 120%;
  font-weight: 700;
  font-size: 24px;
}
.title4{
  line-height: 120%;
  font-weight: 700;
  font-size: 32px;
}
.title5{
  line-height: 120%;
  font-weight: 700;
  font-size: 34px;
}


.title2{
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 14px;
}

@media screen and (max-width: 950px) {
  .title, .title4, .title5 {
    font-size: 24px;
  }

}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #1D2024;
    margin: 100px auto 77px 0;
    opacity: 0.5;
  }

  .footerSvg{
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 850px){
  .footerSvg {
    display: none;
  }
}

.choice{
  opacity: 0.7;
  background: lightgray;
}

.gapGlobal{
  gap: 80px;
}
.marginTopGlobal{
  margin-top: 80px;
}
.marginBottomGlobal{
  margin-bottom: 60px;
}
@media screen and (max-width: 700px){
  .gapGlobal {
    gap: 60px;
  }
  .marginTopGlobal{
    margin-top: 60px;
  }
  .marginBottomGlobal{
    margin-bottom: 24px;
  }
  .width{
    width: 100%;
  }
}